:root {
  /* Font */
  --primary-font: Open Sans, Sans-serif;
  --secondary-font: Raleway, Sans-serif;

  /* Text-color */
  --grey-txt-color: #555555;
  --secondary-txt-color: #9da4bd;
  --nav-txt-color: #ffffff;
  --accent-txt-color: #ff6c00;
  --main-txt-color: #303030;

  /* Accent-colors */
  --hover-color: #ff6c00;
  /* BG-color */
  --hero-bg-color: #111319;
}

body {
  font-family: var(--primary-font);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
  color: var(--main-txt-color);
}

/* reset */

.link {
  text-decoration: none;
}
.list {
  list-style: none;
}

/**
  |============================
  | Header Style
  |============================
*/
.header {
  background-color: var(--hero-bg-color);
}
.header-link,
.header-cont {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.01em;
  color: var(--nav-txt-color);
}
.header-link:hover,
.header-link:focus,
.header-cont:hover,
.header-cont:focus {
  color: var(--accent-txt-color);
}
.header-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--nav-txt-color);
  background-color: transparent;
  cursor: pointer;
}
.header-btn:hover,
.header-btn:focus {
  background-color: var(--hover-color);
}
/**
  |============================
  | Hero Style
  |============================
*/
.hero {
  background-color: var(--hero-bg-color);
}
.social-network {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  color: var(--main-txt-color);
}
.social-network:hover,
.social-network:hover {
  color: var(--accent-txt-color);
}
.hero-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
}
.hero-title {
  font-family: var(--secondary-font);
  font-size: 72px;
  line-height: 1.18;
  letter-spacing: 0.05em;
  color: var(--nav-txt-color);
}
.hero-desc {
  color: var(--secondary-txt-color);
}
/**
  |============================
  | About style
  |============================
*/
.about-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}
.about-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-txt-color);
}
.about-introduc {
  color: var(--grey-txt-color);
}
.about-desc {
  font-size: 14px;
  line-height: 1.85;
  letter-spacing: 0.02em;
  color: var(--grey-txt-color);
}
.about-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  color: var(--main-txt-color);
  cursor: pointer;
}
.about-btn:hover,
.about-btn:focus {
  color: var(--nav-txt-color);
  background-color: var(--hover-color);
}

/**
  |============================
  | Price style
  |============================
*/
.price {
  background-color: var(--hero-bg-color);
}
.price-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}
.price-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--nav-txt-color);
}
.price-item {
  color: var(--secondary-txt-color);
}
.price-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--nav-txt-color);
  background-color: transparent;
  cursor: pointer;
}
.price-btn:hover,
.price-btn:focus {
  background-color: var(--hover-color);
}

/**
  |============================
  | Benefits style
  |============================
*/
.number {
  font-weight: 700;
  font-size: 42px;
  line-height: 1.35;
  letter-spacing: 0.05em;
  color: var(--main-txt-color);
}
.number-desc {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  color: var(--main-txt-color);
}
.benefits-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}
.benefits-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-txt-color);
}
.benefits-desc {
  color: var(--secondary-txt-color);
}

/**
  |============================
  | Team style
  |============================
*/
.team-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}
.team-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--main-txt-color);
}
.team-name {
  font-weight: 400;
}
.team-position {
  font-size: 14px;
  line-height: 1.35;
  letter-spacing: 0.01em;
  color: var(--accent-txt-color);
}

/**
  |============================
  | Gallery style
  |============================
*/
.gallery-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--main-txt-color);
}
/**
  |============================
  | Online-boking style
  |============================
*/
.online-boking {
  background-color: var(--hero-bg-color);
}
.online-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--nav-txt-color);
}
.online-btn {
  font-family: inherit;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  text-transform: uppercase;
  color: var(--nav-txt-color);
  background-color: transparent;
  cursor: pointer;
}
.online-btn:hover,
.online-btn:focus {
  background-color: var(--hover-color);
}

/**
  |============================
  | Contacts style
  |============================
*/
.contacts {
  background-color: var(--hero-bg-color);
}
.contact-title {
  font-family: var(--secondary-font);
  font-size: 42px;
  line-height: 1.16;
  letter-spacing: 0.05em;
  color: var(--nav-txt-color);
}
.contacts-item:first-child .contacts-link {
  font-weight: 700;
}
.contacts-link {
  font-style: normal;
  color: var(--secondary-txt-color);
}
.contacts-uppertitle {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  text-transform: uppercase;
  color: var(--secondary-txt-color);
}
.contacts-decs {
  color: var(--secondary-txt-color);
}

/**
  |============================
  |Footer style
  |============================
*/
.copyright {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  color: var(--secondary-txt-color);
}
.footer-link {
  font-weight: 600;
  font-size: 11px;
  line-height: 1.36;
  letter-spacing: 0.01em;
  color: var(--main-txt-color);
}
.footer-link:hover,
.footer-link:focus {
  color: var(--accent-txt-color);
}
